@{
    ViewBag.Title = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Spelling Test</h2>

@using (Html.BeginForm("GiveTest", "SpellingTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{    
    <table>
        <tr>
            <td>Enter the word</td>
            <td><input type="text" name="word" id="word" /></td>
        </tr>
    </table>
    
    <input type ="submit" name ="submit" value ="Submit" />
}

@using (Html.BeginForm("Speak", "SpellingTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{    
    <input type="hidden" name ="TextToSpeak" value="Spell the word elephant." />
    
    <input type ="submit" name ="repeatword" value ="Repeat Word" />
}



