@using mgb.spellingtest.web.SpellingTestReference;
@model List<Test>

@{
    ViewBag.Title = "SelectTest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Select a test to take</h2>
@using (Html.BeginForm("GetTestData", "SpellingTest", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>    

        @foreach (Test singleTest in @Model)
        {               
            <tr>
                <td>@Html.ActionLink(@singleTest.Name,"GetTestData","SpellingTest")</td>
                <td>@Html.ActionLink(@singleTest.Description,"GetTestData","SpellingTest")</td>
            </tr>
        }

    </table>
    
    <input type ="submit" name ="submit" value ="Submit" />
}